In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('match_data.csv')

C:\Users\KIIT\AppData\Local\Temp\ipykernel_4268\3511332032.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('match_data.csv')

In [3]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id
0,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.1,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
1,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.2,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
2,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.3,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
3,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.4,Gujarat Titans,Chennai Super Kings,Shubman Gill,WP Saha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
4,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.5,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243817 entries, 0 to 243816
Data columns (total 23 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   match_id                243817 non-null  int64
 1   season                  243817 non-null  object
 2   start_date              243817 non-null  object
 3   venue                   243817 non-null  object
 4   innings                 243817 non-null  int64
 5   ball                    243817 non-null  float64
 6   batting_team            243817 non-null  object
 7   bowling_team            243817 non-null  object
 8   striker                 243817 non-null  object
 9   non_striker             243817 non-null  object
 10  bowler                  243817 non-null  object
 11  runs_off_bat            243817 non-null  int64
 12  extras                  243817 non-null  int64
 13  wides                   7652 non-null    float64
 14  noballs                 1018 non-null    float64
 15  byes                    628 non-null     float64
 16  legbyes                 3778 non-null    float64
 17  penalty                 2 non-null       float64
 18  wicket_type             12067 non-null   object
 19  player_dismissed        12067 non-null   object
 20  other_wicket_type       0 non-null       float64
 21  other_player_dismissed  0 non-null       float64
 22  cricsheet_id            243817 non-null  int64
dtypes: float64(8), int64(5), object(10)
memory usage: 42.8+ MB

In [5]:
df.isnull().sum()

match_id                       0
season                         0
start_date                     0
venue                          0
innings                        0
ball                           0
batting_team                   0
bowling_team                   0
striker                        0
non_striker                    0
bowler                         0
runs_off_bat                   0
extras                         0
wides                     236165
noballs                   242799
byes                      243189
legbyes                   240039
penalty                   243815
wicket_type               231750
player_dismissed          231750
other_wicket_type         243817
other_player_dismissed    243817
cricsheet_id                   0
dtype: int64

### Finding the top batsmen

In [7]:
batting = df.groupby('striker').agg(
    runs=('runs_off_bat', 'sum'),
    balls=('runs_off_bat', 'count')
)

dismissals = df[df['player_dismissed'].notna()] \
    .groupby('player_dismissed').size()

batting['dismissals'] = dismissals
batting['dismissals'] = batting['dismissals'].fillna(0)

# calculate average and strike rate
batting['average'] = batting['runs'] / batting['dismissals']
batting['strike_rate'] = (batting['runs'] / batting['balls']) * 100

batting = batting.reset_index()

# Apply qualification filter
qualified_batsmen = batting[
    (batting['runs'] >= 300) &
    (batting['balls'] >= 200) &
    (batting['dismissals'] >= 10)
]

In [8]:
def classify_batsman(row):
    # priority to total runs
    if row['runs'] >= 1000:
        return 'Good'
    
    elif row['average'] >= 35 and row['strike_rate'] >= 130:
        return 'Good'
    
    elif row['runs'] >= 500 or row['average'] >= 25:
        return 'Consistent'
    
    else:
        return 'Bad'

qualified_batsmen['category'] = qualified_batsmen.apply(classify_batsman, axis=1)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_4268\3257681287.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified_batsmen['category'] = qualified_batsmen.apply(classify_batsman, axis=1)

In [26]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

qualified_batsmen[['runs_norm','avg_norm','sr_norm']] = scaler.fit_transform(
    qualified_batsmen[['runs','average','strike_rate']]
)

qualified_batsmen['performance_score'] = (
    0.5 * qualified_batsmen['runs_norm'] +
    0.3 * qualified_batsmen['avg_norm'] +
    0.2 * qualified_batsmen['sr_norm']
)

top_batsmen = qualified_batsmen.sort_values(
    by='performance_score',
    ascending=False
).head(20)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_4268\2324850996.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified_batsmen[['runs_norm','avg_norm','sr_norm']] = scaler.fit_transform(
C:\Users\KIIT\AppData\Local\Temp\ipykernel_4268\2324850996.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified_batsmen['performance_score'] = (

In [27]:
top_batsmen

,striker,runs,balls,dismissals,average,strike_rate,category,runs_norm,avg_norm,sr_norm,performance_score
597,V Kohli,7273,5739,195.0,37.297436,126.729395,Good,1.000000,0.714392,0.493826,0.813083
138,DA Warner,6399,4719,156.0,41.019231,135.600763,Good,0.874659,0.808177,0.602971,0.800377
488,S Dhawan,6617,5358,188.0,35.196809,123.497574,Good,0.905923,0.661458,0.454065,0.742212
27,AB de Villiers,5181,3487,130.0,39.853846,148.580442,Good,0.699986,0.778810,0.762661,0.736168
116,CH Gayle,4997,3516,126.0,39.658730,142.121729,Good,0.673598,0.773894,0.683199,0.705607
455,RG Sharma,6213,4890,210.0,29.585714,127.055215,Good,0.847985,0.520064,0.497835,0.679579
357,MS Dhoni,5082,3865,131.0,38.793893,131.487710,Good,0.685788,0.752101,0.552368,0.678998
276,KL Rahul,4169,3180,91.0,45.813187,131.100629,Good,0.554854,0.928980,0.547606,0.665642
519,SK Raina,5536,4177,171.0,32.374269,132.535312,Good,0.750896,0.590333,0.565257,0.665599
179,F du Plessis,4133,3159,112.0,36.901786,130.832542,Good,0.549692,0.704422,0.544308,0.595034
477,RV Uthappa,4954,3927,180.0,27.522222,126.152279,Good,0.667432,0.468067,0.486726,0.571481
230,JC Buttler,3224,2253,86.0,37.488372,143.098091,Good,0.419332,0.719203,0.695211,0.564469
47,AM Rahane,4400,3658,142.0,30.985915,120.284308,Good,0.587982,0.555348,0.414532,0.543502
537,SR Watson,3880,2892,126.0,30.793651,134.163209,Good,0.513409,0.550503,0.585285,0.538912
269,KD Karthik,4517,3492,175.0,25.811429,129.352806,Good,0.604761,0.424956,0.526102,0.535088
184,G Gambhir,4217,3524,136.0,31.007353,119.665153,Good,0.561738,0.555888,0.406914,0.529018
61,AT Rayudu,4348,3490,155.0,28.051613,124.584527,Good,0.580525,0.481407,0.467438,0.528172
545,SV Samson,3888,2903,133.0,29.233083,133.930417,Good,0.514556,0.511178,0.582421,0.527116
466,RR Pant,2851,2000,82.0,34.768293,142.550000,Good,0.365840,0.650660,0.688468,0.515811
506,SA Yadav,3249,2313,103.0,31.543689,140.466926,Good,0.422917,0.569403,0.662840,0.514847

### Finding the top Bowlers

In [11]:
# total runs conceded per ball
df['total_runs'] = df['runs_off_bat'] + df['extras']

# bowling aggregation
bowling = df.groupby('bowler').agg(
    runs_conceded=('total_runs', 'sum'),
    balls=('ball', 'count')
)

# wickets taken
wickets = df[df['player_dismissed'].notna()] \
    .groupby('bowler').size()

bowling['wickets'] = wickets
bowling['wickets'] = bowling['wickets'].fillna(0)

# calculate overs and economy
bowling['overs'] = bowling['balls'] / 6
bowling['economy'] = bowling['runs_conceded'] / bowling['overs']

bowling = bowling.reset_index()

In [12]:
qualified_bowlers = bowling[
    (bowling['overs'] >= 400) &
    (bowling['wickets'] >= 100)
]

In [13]:
def classify_bowler(row):
    if row['wickets'] >= 150 or row['economy'] <= 7:
        return 'Good'
    elif row['wickets'] >= 100 or row['economy'] <= 8.5:
        return 'Consistent'
    else:
        return 'Bad'

qualified_bowlers['category'] = qualified_bowlers.apply(classify_bowler, axis=1)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_4268\876095722.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified_bowlers['category'] = qualified_bowlers.apply(classify_bowler, axis=1)

In [14]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

qualified_bowlers[['wickets_norm','eco_norm','overs_norm']] = scaler.fit_transform(
    qualified_bowlers[['wickets','economy','overs']]
)

# invert economy (lower is better)
qualified_bowlers['eco_norm'] = 1 - qualified_bowlers['eco_norm']

qualified_bowlers['performance_score'] = (
    0.5 * qualified_bowlers['wickets_norm'] +
    0.3 * qualified_bowlers['eco_norm'] +
    0.2 * qualified_bowlers['overs_norm']
)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_4268\2901385026.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified_bowlers[['wickets_norm','eco_norm','overs_norm']] = scaler.fit_transform(
C:\Users\KIIT\AppData\Local\Temp\ipykernel_4268\2901385026.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified_bowlers[['wickets_norm','eco_norm','overs_norm']] = scaler.fit_transform(
C:\Users\KIIT\AppData\Local\Temp\ipykernel_4268\2901385026.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified_bowlers[['wickets_norm','eco_norm','overs_norm']] = scaler.fit_transform(
C:\Users\KIIT\AppData\Local\Temp\ipykernel_4268\2901385026.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified_bowlers['eco_norm'] = 1 - qualified_bowlers['eco_norm']
C:\Users\KIIT\AppData\Local\Temp\ipykernel_4268\2901385026.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified_bowlers['performance_score'] = (

In [23]:
top_bowlers = qualified_bowlers.sort_values(
    by='performance_score',
    ascending=False
).head(10)

top_bowlers

,bowler,runs_conceded,balls,wickets,overs,economy,category,wickets_norm,eco_norm,overs_norm,performance_score
337,R Ashwin,4966,4333,189.0,722.166667,6.876529,Good,0.828571,0.917015,1.000000,0.907079
424,SP Narine,4296,3812,182.0,635.333333,6.761805,Good,0.761905,0.991093,0.712472,0.866612
416,SL Malinga,3486,2974,188.0,495.666667,7.032952,Good,0.819048,0.816012,0.250000,0.703720
67,B Kumar,4496,3703,184.0,617.166667,7.284904,Good,0.780952,0.653326,0.652318,0.691412
157,Harbhajan Singh,4101,3496,161.0,582.666667,7.038330,Good,0.561905,0.812540,0.538079,0.682457
7,A Mishra,4173,3432,182.0,572.000000,7.295455,Good,0.761905,0.646513,0.502759,0.652380
378,Rashid Khan,2968,2639,147.0,439.833333,6.748011,Good,0.428571,1.000000,0.065121,0.641596
497,YS Chahal,4133,3266,194.0,544.333333,7.592774,Good,0.876190,0.454533,0.411148,0.572353
354,RA Jadeja,4546,3610,161.0,601.666667,7.555679,Good,0.561905,0.478485,0.600993,0.528013
188,JJ Bumrah,3499,2857,161.0,476.166667,7.348267,Good,0.561905,0.612412,0.185430,0.511863

### Finding top all rounders

In [16]:
all_rounders = pd.merge(
    batting,
    bowling,
    left_on='striker',
    right_on='bowler',
    how='inner'
)

In [17]:
qualified_all_rounders = all_rounders[
    (all_rounders['runs'] >= 500) &
    (all_rounders['wickets'] >= 80)
]

In [18]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

qualified_all_rounders[['runs_norm','avg_norm','wkt_norm','eco_norm']] = scaler.fit_transform(
    qualified_all_rounders[['runs','average','wickets','economy']]
)

# invert economy
qualified_all_rounders['eco_norm'] = 1 - qualified_all_rounders['eco_norm']

qualified_all_rounders['allrounder_score'] = (
    0.4 * qualified_all_rounders['runs_norm'] +
    0.2 * qualified_all_rounders['avg_norm'] +
    0.1 * qualified_all_rounders['wkt_norm'] +
    0.3 * qualified_all_rounders['eco_norm']
)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_4268\2741623793.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified_all_rounders[['runs_norm','avg_norm','wkt_norm','eco_norm']] = scaler.fit_transform(
C:\Users\KIIT\AppData\Local\Temp\ipykernel_4268\2741623793.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified_all_rounders[['runs_norm','avg_norm','wkt_norm','eco_norm']] = scaler.fit_transform(
C:\Users\KIIT\AppData\Local\Temp\ipykernel_4268\2741623793.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified_all_rounders[['runs_norm','avg_norm','wkt_norm','eco_norm']] = scaler.fit_transform(
C:\Users\KIIT\AppData\Local\Temp\ipykernel_4268\2741623793.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified_all_rounders[['runs_norm','avg_norm','wkt_norm','eco_norm']] = scaler.fit_transform(
C:\Users\KIIT\AppData\Local\Temp\ipykernel_4268\2741623793.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified_all_rounders['eco_norm'] = 1 - qualified_all_rounders['eco_norm']
C:\Users\KIIT\AppData\Local\Temp\ipykernel_4268\2741623793.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified_all_rounders['allrounder_score'] = (

In [44]:
def classify_allrounder(row):
    if row['runs'] >= 700 and row['wickets'] >= 80:
        return 'Good'
    elif row['runs'] >= 500 and row['wickets'] >= 50:
        return 'Consistent'
    else:
        return 'Average'

qualified_all_rounders['category'] = qualified_all_rounders.apply(
    classify_allrounder, axis=1
)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_4268\1346314232.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualified_all_rounders['category'] = qualified_all_rounders.apply(

In [45]:
top_all_rounders = qualified_all_rounders.sort_values(
    by='allrounder_score',
    ascending=False
).head(10)

top_all_rounders[[
    'striker','runs','average','strike_rate',
    'wickets','economy','allrounder_score'
]]

,striker,runs,average,strike_rate,wickets,economy,allrounder_score
378,SR Watson,3880,30.793651,134.163209,107.0,7.698643,0.797667
314,RA Jadeja,2692,26.392157,123.090992,161.0,7.555679,0.667881
189,KA Pollard,3437,28.404959,140.457703,81.0,8.322825,0.615895
38,AR Patel,1418,20.550725,124.933921,120.0,7.240734,0.459663
103,DJ Bravo,1560,22.608696,125.100241,207.0,8.075243,0.458109
375,SP Narine,1046,13.763158,151.156069,182.0,6.761805,0.455101
26,AD Russell,2266,28.683544,164.919942,106.0,9.047378,0.400354
299,R Ashwin,714,13.222222,114.790997,189.0,6.876529,0.399329
141,Harbhajan Singh,833,15.145455,130.974843,161.0,7.038330,0.390579
149,IK Pathan,1150,21.698113,116.751269,99.0,7.698060,0.362221

### Exportinng data

In [28]:
good_batsmen = qualified_batsmen[
    qualified_batsmen['category'] == 'Good'
]

top_20_batsmen = good_batsmen.sort_values(
    by='performance_score',
    ascending=False
).head(20)

In [29]:
good_bowlers = qualified_bowlers[
    qualified_bowlers['category'] == 'Good'
]

top_10_good_bowlers = good_bowlers.sort_values(
    by='performance_score',
    ascending=False
).head(10)

In [46]:
top_all_rounders = qualified_all_rounders[
    qualified_all_rounders['category'] == 'Good'
]

top_10_all_rounders = top_all_rounders.sort_values(
    by='allrounder_score',
    ascending=False
).head(10)

In [47]:
top_20_batsmen.to_csv("top_20_batsmen.csv", index=False)
top_10_good_bowlers.to_csv("top_10_good_bowlers.csv", index=False)
top_10_all_rounders.to_csv("top_10_all_rounders.csv", index=False)